.sidebar {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    text-align: left;

    position: fixed;
    top: 0;
    left: -350px;
    width: 350px;
    height: 100%;
    background-color: #fff;
    transition: left 0.3s ease-in-out;
    z-index: 1000;
}

.sidebar.open {
    left: 0;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    z-index: 999
}

.nav {
    display: flex;
    flex-direction: column;
    padding: 70px;
}

.nav a {
    all: unset;
    margin-bottom: 45px;
}

.nav a:hover {
    color: #58ACFF;
    cursor: pointer;
}

.nav a:active {
    color: #3D6B99;
    cursor: pointer;
}

.nav a.active {
    color: #0059B2;
    text-decoration: underline;
}

.close {
    all: unset;
    position: absolute;
    right: 24px;
    top: 16px;
}

.close:hover {
    cursor: pointer;
}

.close img {
}
