.friendMessage {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 5px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.friendImageAndText {
    max-width: 590px;
    display: flex;
    align-items: flex-end;
    gap: 10px;
}

.friendImageAndText img {
    width: 50px;
}

.friendText {
    background-color: #F5F7FB;
    padding: 10px;
    border-radius: 10px 10px 10px 0;
    position: relative;
    text-align: left;
    box-shadow: 0px 1px 2px 0px #1D21261A;
}

.friendText:after {
    content: "";
    position: absolute;
    right: 100%;
    border-top: 10px solid transparent;
    border-right: 10px solid #F5F7FB;
    box-shadow: 0px 1px 2px 0px #1D21261A;
}

.friendName {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
}

.friendMessageText {
    font-size: 16px;
}

.friendTime {
    font-size: 10px;
    font-weight: 600;
    margin-left: 10px;
}
